<a href="https://colab.research.google.com/github/thaistelesr/eda_inep/blob/main/Projeto_Inep_Dados_educacionais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto Inep

## Instruções básicas

Limpeza e manipulação de dados no INEP sobre o Censo da Educação Superior. Estão apresentados abaixo um artigo de 2016 sobre a divulgação dos dados, assim como um vídeo sobre esta mesma divulgação, da edição de 2015. Além disso, está oferecido o Manual de Instruções da última edição publicada, de 2018.

Ao final, são colocadas as questões do desafio em duas partes, a primeira coletiva para ser feita em grupo, e a segunda para ser feita individual. Qualquer dúvida ou comentário, por favor procure o corpo docente.

# MEC e Inep divulgam dados do Censo da Educação Superior 2018

<br>
<img src="img/inep.png" width="550" />
<br>


Em 2016, 34.366 cursos de graduação foram ofertados em 2.407 instituições de educação superior (IES) no Brasil para um total de 8.052.254 estudantes matriculados. Os dados são do Censo da Educação Superior e foram divulgados nesta quinta feira (31) em coletiva de imprensa com a presença do ministro da Educação, Mendonça Filho, da secretária executiva do Ministério da Educação (Mec), Maria Helena Guimarães de Castro, e da presidente do Instituto Nacional de Estudos e Estatísticas Educacionais Anísio Teixeira (Inep), Maria Inês Fini.

Segundo as estatísticas apresentadas, as 197 universidades existentes no país equivalem a 8,2% do total de IES, mas concentram 53,7% das matrículas em cursos de graduação.

No ano passado, o número de matrículas na educação superior (graduação e sequencial) continuou crescendo, mas essa tendência desacelerou quando se comparado aos últimos anos. Entre 2006 e 2016, houve aumento de 62,8%, com uma média anual de 5% de crescimento. Porém, em relação a 2015, a variação positiva foi de apenas 0,2%.

## Cursos

Os cursos de bacharelado mantêm sua predominância na educação superior brasileira com uma participação de 69% das matrículas. Os cursos de licenciatura tiveram o maior crescimento (3,3%) entre os graus acadêmicos em 2016, quando comparado a 2015.

## Vagas

Em 2016, foram oferecidas mais de 10,6 milhões de vagas em cursos de graduação, sendo 73,8% vagas novas e 26,0%, vagas remanescentes. Das novas vagas oferecidas no ano passado, 33,5% foram preenchidas, enquanto apenas 12,0% das vagas remanescentes foram ocupadas no mesmo período.

## Ingressantes

Em 2016, quase 3 milhões de alunos ingressaram em cursos de educação superior de graduação. Desse total, 82,3% em instituições privadas.
Após uma queda observada em 2015, o número de ingressantes teve um crescimento de 2,2% em 2016. Isso ocorreu porque a modalidade a distância aumentou mais de 20% entre os dois anos, enquanto nos cursos presenciais houve um decréscimo no número de ingressantes de 3,7%.

## Concluintes

No ano passado, mais de um 1,1 milhão de estudantes concluíram a educação superior. O número de concluintes em cursos de graduação presencial teve aumento de 2,4% em relação a 2015. A modalidade a distância diminuiu -1,3% no mesmo período.

Entre 2015 e 2016, o número de concluintes na rede pública aumentou 2,9%. Já na rede privada a variação positiva foi de 1,4%. No período de 2006 a 2016, a variação percentual do número de concluintes em cursos de graduação foi maior na rede privada, com 62,6%, enquanto na pública esse crescimento foi de 26,5% no mesmo período.

## Censo da Educação Superior

O Censo da Educação Superior, realizado anualmente pelo Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira (Inep), constitui-se importante instrumento de obtenção de dados para a geração de informações que subsidiam a formulação, o monitoramento e a avaliação das políticas públicas, além de ser elemento importante para elaboração de estudos e pesquisas sobre o setor. O Censo coleta informações sobre as Instituições de Educação Superior (IES), os cursos de graduação e sequenciais de formação específica e sobre os discentes e docentes vinculados a esses cursos.

Os resultados coletados subsidiam o Sistema Nacional de Avaliação da Educação Superior (Sinaes), seja no cálculo dos indicadores de Conceito Preliminar de Curso (CPC) e do Índice Geral de Cursos (IGC), seja no fornecimento de informações, como número de matrículas, de ingressos, de concluintes, entre outras. As estatísticas possibilitam ainda, através da justaposição de informações de diferentes edições da pesquisa, a análise da trajetória dos estudantes a partir de seu ingresso em determinado curso de graduação, e, consequentemente, a geração de indicadores de acompanhamento e de fluxo na educação superior.

In [ ]:
# Vídeo sobre a divulgação dos resultados do Censo da Educação Superior da edição de 2015

from IPython.display import HTML


HTML('<iframe width="640" height="360" src="https://www.youtube.com/embed/31rWZN5D_YE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')

C:\Users\thais\anaconda3\lib\site-packages\IPython\core\display.py:717: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

# Microdados do Censo da Educação Superior 2018

## Manual do Usuário

### Ministério da Educação Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira – INEP Diretoria de Estatísticas Educacionais

O Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira (Inep), autarquia vinculada ao Ministério da Educação, tem como missão institucional produzir e disseminar informações educacionais. As estatísticas e avaliações produzidas pelo Inep visam fornecer os subsídios para a formulação e implementação de políticas voltadas para a melhoria contínua da educação no país.

Entre as informações educacionais produzidas pelo Inep, destacam-se os dados coletados no Censo da Educação Superior, levantamento de âmbito nacional, realizado anualmente pela Diretoria de Estatísticas Educacionais em todas as Instituições de Educação Superior (IES), públicas e privadas do país.

O Inep desenvolve uma série de ações de disseminação de dados que se encontram divulgados de forma ativa no portal do instituto na internet (www.inep.gov.br ). O presente documento figura entre os instrumentos utilizados por este Instituto para garantir a transparência requerida pela sociedade e promover a participação dos diferentes agentes sociais envolvidos nas ações educativas.

Nesse contexto, os Microdados foram estruturados em formato CSV (CommaSeparated Values) e seus dados estão delimitados por Pipe ( | ), de modo a garantir que praticamente qualquer software estatístico, inclusive open source, consiga importar e carregar as bases de dados.

Por meio dos Microdados é possível obter um amplo panorama da educação brasileira e, como importante ferramenta de transparência, é indubitavelmente um rico acervo sobre a educação superior do nosso país e uma fonte segura e eficaz de obtenção de dados, acessíveis aos pesquisadores, estudantes, gestores e sociedade em geral.

#### DADOS

Estão disponíveis no site do Inep os Microdados do Censo da Educação Superior 2018 (DM_IES, DM_CURSO, DM_DOCENTE, DM_ALUNO, DM_LOCAL_OFERTA e TB_AUX_AREA_OCDE) em formato CSV delimitados por Pipe ( | ). Os arquivos encontram-se compactados (em formato .zip) pelo software 7-zip.  

#### LEIA-ME

Este presente instrumento traz instruções fundamentais para a correta extração e manipulação dos Microdados, como orientações para abrir os arquivos nos softwares R, SPSS e SAS. É, portanto, uma espécie de “Manual do Usuário” que traz os Dicionários das Variáveis do Censo da Educação Superior 2017.

#### FILTROS DA EDUCAÇÃO SUPERIOR

É um documento que norteia o usuário na obtenção de dados em sintonia com os valores publicados nas Sinopses Estatísticas produzidas pelo INEP. Nele, são elencados, de forma simples, os principais filtros e funções que devem ser aplicados.

#### ANEXO I – Dicionários de dados e Tabelas Auxiliares

Contém, em formato .xlsx (Excel), o Dicionário de Dados do Censo da Educação Superior 2018 e também uma tabela auxiliar com o código e o nome dos países:

1.DICIONÁRIO DE DADOS

- TABELA DE ALUNO
- TABELA DE CURSO
- TABELA DE IES
- TABELA DE LOCAL DE OFERTA
- TABELA DE DOCENTE
- TABELA AUXILIAR OCDE

2.TABELA CONTENDO O NOME DO PAÍS DE ORIGEM OU NATURALIZAÇÃO

#### ANEXO II – Questionários do Censo da Educação Superior  

Contém, em formato .pdf (Portable Document Format), os seguintes questionários do Censo da Educação Superior 2018 e estão disponíveis para download na pasta anexos:

- MÓDULO IES
- MÓDULO CURSO
- MÓDULO DOCENTE
- MÓDULO ALUNO



<br>
<img src="img/dh.png" width="550" />
<br>


1) Crie duas tabelas: uma com número de universidades públicas e privadas por estado e outra com número de alunos por universidade

2) Pergunta-se: é verdade que existem menos mulheres nos cursos de exatas? Explique com os dados.

3) Quantos cursos novos abrem por ano?

4) A afirmação a seguir é verdadeira: Alunos da região Norte têm maior tendência a não concluírem os cursos quando comparados ao restante do país? Comprove com dados.

5) Crie uma variável que represente a taxa de abandono para cada curso. É correto afirmar professores mais/menos capacitados influenciam tal taxa?

6) Quais os cursos com maior crescimento de matriculas por região? E quais os com maior queda? Como você explicaria isso.

7) Se você tivesse que abrir um curso (apenas um curso de graduação), qual seria, onde ele seria, qual a modalidade?

### Avançado:

1) Pense na Hipótese de 2 universidades A e B onde X é a média de notas delas e elas tem exatamente os mesmos cursos. É possível que A_X > B_X e TODOS os cursos de B sejam melhores (notas maiores) que os de A? Explique (não são necessários códigos, apenas a explicação). Dica: procure por paradoxo de simpson.

2) Qual a probabilidade de pegarmos um professor ao acaso no Brasil e ele ter mais do que o dobro da sua idade dado que ele é homem? Dica: procure por Probabilidade Condicional / Teorema de Bayes

3) Selecione um curso à sua escolha. Para este curso, considerando a taxa de abandono calculada no exerício 5, considere uma classe de 100 alunos. Além disso, considere que, para o curso se pagar, a turma deve terminar com, pelo menos, 60 alunos. Para cada aluno abaixo dos 60 alunos que desistir, o prejuízo será de 1000 reais. Assim sendo, calcule:

    - A probabilidade de a turma gerar prejuízo
    - O risco financeiro deste curso

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
tb_curso = pd.read_csv("DM_CURSO.CSV", sep="|", encoding='latin-1')
tb_curso.head()

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_LOCAL_OFERTA,CO_UF,CO_MUNICIPIO,IN_CAPITAL,CO_CURSO,NO_CURSO,...,QT_VAGAS_ANUAL_VESPERTINO,QT_VAGAS_ANUAL_NOTURNO,QT_VAGAS_ANUAL_EAD,QT_MATRICULA_TOTAL,QT_CONCLUINTE_TOTAL,QT_INGRESSO_TOTAL,QT_INGRESSO_VAGA_NOVA,QT_INGRESSO_PROCESSO_SELETIVO,QT_VAGA_TOTAL,QT_INSCRITO_TOTAL
0,2018,1,1,1,105340.0,51.0,5103403.0,1.0,1,DIREITO,...,NaN,NaN,NaN,445,76,99,92,NaN,95,3144
1,2018,1,1,1,105340.0,51.0,5103403.0,1.0,2,CIÊNCIAS ECONÔMICAS,...,NaN,NaN,NaN,344,38,120,119,NaN,121,945
2,2018,1,1,1,105340.0,51.0,5103403.0,1.0,3,ENGENHARIA CIVIL,...,NaN,NaN,NaN,266,34,53,53,NaN,55,637
3,2018,1,1,1,105340.0,51.0,5103403.0,1.0,6,PEDAGOGIA,...,NaN,NaN,NaN,326,49,98,98,NaN,100,1461
4,2018,1,1,1,105340.0,51.0,5103403.0,1.0,7,SERVIÇO SOCIAL,...,NaN,NaN,NaN,253,23,81,81,NaN,83,1449

In [ ]:
tb_IES = pd.read_csv("DM_IES.CSV", sep="|", encoding='latin-1')
tb_IES.head()

,NU_ANO_CENSO,CO_IES,NO_IES,SG_IES,CO_MANTENEDORA,NO_MANTENEDORA,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_REGIAO,CO_UF,...,VL_RECEITA_PROPRIA,VL_RECEITA_TRANSFERENCIA,VL_RECEITA_OUTRA,VL_DESPESA_PESSOAL_DOCENTE,VL_DESPESA_PESSOAL_TECNICO,VL_DESPESA_PESSOAL_ENCARGO,VL_DESPESA_CUSTEIO,VL_DESPESA_INVESTIMENTO,VL_DESPESA_PESQUISA,VL_DESPESA_OUTRA
0,2018,1,UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,1,FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO,1,1,5,51,...,6608299.00,9.152105e+08,0.000000e+00,2.926145e+08,1.111696e+08,1.081356e+08,1.215729e+08,2149791.80,14695633.36,2.714807e+08
1,2018,2,UNIVERSIDADE DE BRASÍLIA,UNB,2,FUNDACAO UNIVERSIDADE DE BRASILIA,1,1,5,53,...,51938375.89,8.644306e+07,4.895322e+07,1.093876e+09,0.000000e+00,1.093876e+09,2.119074e+08,19066763.45,11047477.83,4.461472e+08
2,2018,3,UNIVERSIDADE FEDERAL DE SERGIPE,UFS,3,FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE,1,1,2,28,...,2534563.26,7.806918e+08,2.048284e+06,2.303450e+08,1.240319e+08,9.379432e+07,1.294492e+08,16413516.13,1030610.47,1.811874e+08
3,2018,4,UNIVERSIDADE FEDERAL DO AMAZONAS,UFAM,4,FUNDACAO UNIVERSIDADE DO AMAZONAS,1,1,1,13,...,4266650.55,9.183443e+08,1.072447e+08,3.833357e+08,0.000000e+00,1.156992e+08,1.551557e+08,15579015.27,1640089.82,1.347048e+08
4,2018,6,UNIVERSIDADE FEDERAL DE OURO PRETO,UFOP,6,UNIVERSIDADE FEDERAL DE OURO PRETO,1,1,3,31,...,5137227.39,4.800294e+08,5.793707e+06,1.791743e+08,7.177469e+07,3.985039e+07,5.506440e+07,1061751.70,733199.99,1.433016e+08

In [ ]:
tb_AUX = pd.read_csv("TB_AUX_CINE_BRASIL.CSV", sep="|", encoding='latin-1')
tb_AUX.head()

,CO_CINE_AREA_GERAL,NO_CINE_AREA_GERAL,CO_CINE_AREA_ESPECIFICA,NO_CINE_AREA_ESPECIFICA,CO_CINE_AREA_DETALHADA,NO_CINE_AREA_DETALHADA,CO_CINE_ROTULO,NO_CINE_ROTULO
0,0,Programas básicos,1,Programas básicos,11,Programas básicos,0011A01,ABI Educação
1,0,Programas básicos,1,Programas básicos,11,Programas básicos,0011A02,ABI Artes e humanidades
2,0,Programas básicos,1,Programas básicos,11,Programas básicos,0011A03,"ABI Ciências sociais, jornalismo e informação"
3,0,Programas básicos,1,Programas básicos,11,Programas básicos,0011A04,"ABI Negócios, administração e direito"
4,0,Programas básicos,1,Programas básicos,11,Programas básicos,0011A05,"ABI Ciências naturais, matemática e estatística"

In [ ]:
tb_docente = pd.read_csv("DM_DOCENTE.CSV", sep="|")
tb_docente

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_DOCENTE_IES,ID_DOCENTE,TP_SITUACAO,TP_ESCOLARIDADE,TP_REGIME_TRABALHO,TP_SEXO,...,IN_ATUACAO_GRAD_PRESENCIAL,IN_ATUACAO_POS_EAD,IN_ATUACAO_POS_PRESENCIAL,IN_ATUACAO_SEQUENCIAL,IN_ATUACAO_PESQUISA,IN_BOLSA_PESQUISA,IN_SUBSTITUTO,IN_EXERCICIO_DATA_REFERENCIA,IN_VISITANTE,TP_VISITANTE_IFES_VINCULO
0,2018,1,1,1,1179048,F3CE8D201F9DBA7935A31AC6C8FEF33F,1,5,2.0,2,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN
1,2018,1,1,1,1179049,7CA2AB18D3383AF3168DCD3D4964D1F5,1,5,1.0,2,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,NaN
2,2018,1,1,1,1179047,8EC22FF9220CDD6A859E555F43B20ED3,1,4,1.0,2,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,NaN
3,2018,1,1,1,1179050,4C47B46F22C91D5F0A2C5D8C61F58259,1,3,1.0,2,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,NaN
4,2018,1,1,1,1180953,17EB5D7EF21895C148B654225CF82235,1,5,1.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397888,2018,23705,2,3,637224,3B78D27A87040F5298F6F5D52A92297E,1,4,4.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
397889,2018,23705,2,3,637234,48C09A30B15AEEF29851BCF69B949967,1,5,4.0,1,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
397890,2018,23705,2,3,350157,D0DC0D3206DDA554FC04EBD20243DD1E,1,5,4.0,1,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
397891,2018,23705,2,3,636957,95CC49CEB8B27CEE4271EFBE7B438E17,1,5,4.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN
397892,2018,23705,2,3,698158,11858BEAB3CD3B904DAA4E3313E1645A,1,4,4.0,2,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,NaN

In [ ]:
df_aluno = pd.read_csv('DM_ALUNO.CSV', usecols=["CO_IES", "ID_ALUNO", 'TP_SEXO'], sep="|")
df_aluno

          CO_IES                          ID_ALUNO  TP_SEXO
0              1  2ECD7C9BEA7DCEBC31B9F2874D454F71        1
1              1  2A9470AC3FC03AD130954809A84BC7D4        2
2              1  3EA3DF175677D93C4FDD47865E89B92A        2
3              1  E535A93D94430667B67D180C506CCB66        1
4              1  EF1C01E9B84BEB8D6AA9702F59A90410        2
...          ...                               ...      ...
12043988   23705  AEEC078F5E419031F56CC76CEFCCFEDA        2
12043989   23705  4D1FAD6D6DAF94A259BDAFEF67125268        2
12043990   23705  45D3FF258CBBE557ACF6FFA4562926BF        1
12043991   23705  B505440B7452768EB4E9625EFCF0B09B        2
12043992   23705  8B21B4B59FE3BE22A2B99A981B41283A        1

[12043993 rows x 3 columns]

In [ ]:
tb_local = pd.read_csv("DM_LOCAL_OFERTA.CSV", sep="|", encoding='latin-1')
tb_local

,NU_ANO_CENSO,CO_LOCAL_OFERTA,NO_LOCAL_OFERTA,CO_IES,CO_UF,CO_MUNICIPIO,IN_CAPITAL,IN_SEDE,CO_CURSO_POLO,CO_CURSO,...,IN_REDE_SEM_FIO_COMU_ACADEMICA,IN_POSTO_ATENDIMENTO_1_SOCORRO,IN_BICICLETARIO,IN_ESTACIONAMENTO_ALUNO,IN_MORADIA_ESTUDANTIL,IN_EQUIPA_VIDEOCONFERENCIA,IN_SALA_COORDENACAO_POLO,IN_MICROCOMPUTADOR,IN_POSSUI_INTERNET_BANDA_LARGA,IN_SALA_ATENDIMENTO_TUTOR
0,2018,105340,Campus Universitário de Cuiabá,1,51.0,5103403,1.0,1.0,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,105340,Campus Universitário de Cuiabá,1,51.0,5103403,1.0,1.0,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,105340,Campus Universitário de Cuiabá,1,51.0,5103403,1.0,1.0,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,105340,Campus Universitário de Cuiabá,1,51.0,5103403,1.0,1.0,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,105340,Campus Universitário de Cuiabá,1,51.0,5103403,1.0,1.0,NaN,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767719,2018,1094503,Campus Principal,23459,35.0,3500105,0.0,NaN,NaN,5001430,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
767720,2018,1095191,Campus Principal,23700,35.0,3515707,0.0,NaN,NaN,1458085,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
767721,2018,1095191,Campus Principal,23700,35.0,3515707,0.0,NaN,NaN,1458087,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
767722,2018,1095437,Campus Principal,23705,35.0,3516408,0.0,NaN,NaN,1465936,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
767723,2018,1095437,Campus Principal,23705,35.0,3516408,0.0,NaN,NaN,5001434,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#1 - Crie duas tabelas: uma com número de universidades públicas e privadas por estado e outra com número de alunos por universidade
df_uni_uf = tb_IES.pivot_table(tb_IES,index=["CO_UF",'TP_ORGANIZACAO_ACADEMICA'])
df_uni_uf

                                      CO_IES  CO_MANTENEDORA  CO_MUNICIPIO  \
CO_UF TP_ORGANIZACAO_ACADEMICA
11    1                           699.000000    15587.000000  1.100205e+06
      2                           932.000000     8516.000000  1.100164e+06
      3                          6521.935484     3920.258065  1.100195e+06
      4                          4785.000000    14814.000000  1.100205e+06
12    1                           549.000000      381.000000  1.200401e+06
...                                      ...             ...           ...
52    4                          1557.000000    15383.500000  5.208707e+06
53    1                           202.500000      140.000000  5.300108e+06
      2                          1647.000000      651.750000  5.300108e+06
      3                          7747.000000     8623.654545  5.300108e+06
      4                         14408.000000    13489.000000  5.300108e+06

                                CO_REGIAO  IN_ACESSO_PORTAL_CAPES  \
CO_UF TP_ORGANIZACAO_ACADEMICA
11    1                                 1                1.000000
      2                                 1                0.500000
      3                                 1                0.290323
      4                                 1                1.000000
12    1                                 1                1.000000
...                                   ...                     ...
52    4                                 5                1.000000
53    1                                 5                1.000000
      2                                 5                0.250000
      3                                 5                0.181818
      4                                 5                1.000000

                                IN_ASSINA_OUTRA_BASE  IN_BUSCA_INTEGRADA  \
CO_UF TP_ORGANIZACAO_ACADEMICA
11    1                                     0.000000            0.000000
      2                                     1.000000            1.000000
      3                                     0.709677            0.709677
      4                                     0.000000            1.000000
12    1                                     1.000000            1.000000
...                                              ...                 ...
52    4                                     0.500000            1.000000
53    1                                     1.000000            0.000000
      2                                     0.875000            0.375000
      3                                     0.545455            0.672727
      4                                     0.000000            0.000000

                                IN_CAPITAL  IN_CATALOGO_ONLINE  \
CO_UF TP_ORGANIZACAO_ACADEMICA
11    1                           1.000000            1.000000
      2                           0.500000            1.000000
      3                           0.451613            0.935484
      4                           1.000000            0.000000
12    1                           1.000000            0.000000
...                                    ...                 ...
52    4                           1.000000            1.000000
53    1                           1.000000            1.000000
      2                           1.000000            0.875000
      3                           1.000000            0.672727
      4                           1.000000            1.000000

                                IN_PARTICIPA_REDE_SOCIAL  ...  \
CO_UF TP_ORGANIZACAO_ACADEMICA                            ...
11    1                                         1.000000  ...
      2                                         0.500000  ...
      3                                         0.645161  ...
      4                                         1.000000  ...
12    1                                         1.000000  ...
...                                                  ...  ...
52    4                                         1.000000  ...
53    1                                         1.000000  ...
      2                                         0.250000  ...
      3                                         0.600000  ...
      4                                         1.000000  ...

                                VL_DESPESA_CUSTEIO  VL_DESPESA_INVESTIMENTO  \
CO_UF TP_ORGANIZACAO_ACADEMICA
11    1                               4.735947e+07             5.796741e+06
      2                               1.140147e+07             6.401328e+07
      3                               2.999926e+06             5.053336e+06
      4                               4.553810e+07             2.068313e+07
12    1                               6.473662e+07             2.553816e+07
...                                            ...                      ...
52    4                               5.332041e+07             7.211738e+06
53    1                               1.196848e+08             1.286177e+07
      2                               3.378368e+07             9.811587e+06
      3                               2.699778e+07             1.914438e+07
      4                               4.735144e+07             1.026769e+07

                                VL_DESPESA_OUTRA  VL_DESPESA_PESQUISA  \
CO_UF TP_ORGANIZACAO_ACADEMICA
11    1                             0.000000e+00         8.889340e+05
      2                             4.187254e+06         7.520000e+04
      3                             9.367798e+06         6.128501e+04
      4                             4.549697e+07         8.101939e+05
12    1                             1.736160e+05         3.488773e+06
...                                          ...                  ...
52    4                             0.000000e+00         3.670767e+06
53    1                             2.369346e+08         8.526882e+06
      2                             2.097810e+07         1.982259e+06
      3                             5.374526e+07         2.760972e+05
      4                             0.000000e+00         6.687811e+05

                                VL_DESPESA_PESSOAL_DOCENTE  \
CO_UF TP_ORGANIZACAO_ACADEMICA
11    1                                       1.987144e+08
      2                                       1.220267e+07
      3                                       7.374512e+06
      4                                       8.859113e+07
12    1                                       1.697366e+08
...                                                    ...
52    4                                       2.109703e+08
53    1                                       5.824436e+08
      2                                       3.166460e+07
      3                                       2.437198e+07
      4                                       1.346014e+08

                                VL_DESPESA_PESSOAL_ENCARGO  \
CO_UF TP_ORGANIZACAO_ACADEMICA
11    1                                       0.000000e+00
      2                                       1.058877e+07
      3                                       5.513692e+06
      4                                       5.882713e+06
12    1                                       4.609748e+07
...                                                    ...
52    4                                       5.785436e+07
53    1                                       5.593330e+08
      2                                       2.280783e+07
      3                                       2.076395e+07
      4                                       3.623513e+07

                                VL_DESPESA_PESSOAL_TECNICO  VL_RECEITA_OUTRA  \
CO_UF TP_ORGANIZACAO_ACADEMICA
11    1                                       3.603590e+07      1.390672e+06
      2                                       6.238048e+06      3.712786e+05
      3                                       3.860547e+06      7.575810e+05
      4                                       4.545490e+07      1.584264e+07
12    1                                       0.000000e+00      1.528500e+06
...                                                    ...               ...
52    4                                       3.238767e+07      6.557590e+06
53    1                                       1.239620e+07      5.748819e+07
      2                                       2.219648e+07      1.211081e+07
      3                                       1.289017e+07      3.102276e+07
      4                                       0.000000e+00      0.000000e+00

                                VL_RECEITA_PROPRIA  VL_RECEITA_TRANSFERENCIA
CO_UF TP_ORGANIZACAO_ACADEMICA
11    1                               1.089018e+06              2.872895e+08
      2                               5.665152e+07              0.000000e+00
      3                               3.131342e+07              1.370130e+05
      4                               4.158000e+04              3.829588e+06
12    1                               8.492985e+05              3.454622e+08
...                                            ...                       ...
52    4                               9.068490e+05              2.253473e+08
53    1                               1.013725e+08              4.322153e+07
      2                               1.673231e+08              0.000000e+00
      3                               1.597753e+08              2.992802e+05
      4                               2.266609e+08              3.308573e+06

[108 rows x 42 columns]

In [ ]:
#1-número de alunos por universidade
tb_uni_alunos = pd.merge(df_aluno, tb_IES, how = 'inner', on = 'CO_IES')
tb_uni_alunos

,CO_IES,ID_ALUNO,TP_SEXO,NU_ANO_CENSO,NO_IES,SG_IES,CO_MANTENEDORA,NO_MANTENEDORA,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,...,VL_RECEITA_PROPRIA,VL_RECEITA_TRANSFERENCIA,VL_RECEITA_OUTRA,VL_DESPESA_PESSOAL_DOCENTE,VL_DESPESA_PESSOAL_TECNICO,VL_DESPESA_PESSOAL_ENCARGO,VL_DESPESA_CUSTEIO,VL_DESPESA_INVESTIMENTO,VL_DESPESA_PESQUISA,VL_DESPESA_OUTRA
0,1,2ECD7C9BEA7DCEBC31B9F2874D454F71,1,2018,UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,1,FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO,1,1,...,6608299.0,9.152105e+08,0.0,2.926145e+08,1.111696e+08,1.081356e+08,1.215729e+08,2149791.80,14695633.36,2.714807e+08
1,1,2A9470AC3FC03AD130954809A84BC7D4,2,2018,UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,1,FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO,1,1,...,6608299.0,9.152105e+08,0.0,2.926145e+08,1.111696e+08,1.081356e+08,1.215729e+08,2149791.80,14695633.36,2.714807e+08
2,1,3EA3DF175677D93C4FDD47865E89B92A,2,2018,UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,1,FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO,1,1,...,6608299.0,9.152105e+08,0.0,2.926145e+08,1.111696e+08,1.081356e+08,1.215729e+08,2149791.80,14695633.36,2.714807e+08
3,1,E535A93D94430667B67D180C506CCB66,1,2018,UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,1,FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO,1,1,...,6608299.0,9.152105e+08,0.0,2.926145e+08,1.111696e+08,1.081356e+08,1.215729e+08,2149791.80,14695633.36,2.714807e+08
4,1,EF1C01E9B84BEB8D6AA9702F59A90410,2,2018,UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,1,FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO,1,1,...,6608299.0,9.152105e+08,0.0,2.926145e+08,1.111696e+08,1.081356e+08,1.215729e+08,2149791.80,14695633.36,2.714807e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12043988,23705,AEEC078F5E419031F56CC76CEFCCFEDA,2,2018,FACULDADE DE TECNOLOGIA DE FRANCO DA ROCHA,NaN,33,CENTRO ESTADUAL DE EDUCACAO TECNOLOGICA PAULA ...,2,3,...,0.0,4.939815e+08,0.0,3.096975e+08,5.523422e+07,1.094985e+08,8.952982e+06,10598279.22,0.00,0.000000e+00
12043989,23705,4D1FAD6D6DAF94A259BDAFEF67125268,2,2018,FACULDADE DE TECNOLOGIA DE FRANCO DA ROCHA,NaN,33,CENTRO ESTADUAL DE EDUCACAO TECNOLOGICA PAULA ...,2,3,...,0.0,4.939815e+08,0.0,3.096975e+08,5.523422e+07,1.094985e+08,8.952982e+06,10598279.22,0.00,0.000000e+00
12043990,23705,45D3FF258CBBE557ACF6FFA4562926BF,1,2018,FACULDADE DE TECNOLOGIA DE FRANCO DA ROCHA,NaN,33,CENTRO ESTADUAL DE EDUCACAO TECNOLOGICA PAULA ...,2,3,...,0.0,4.939815e+08,0.0,3.096975e+08,5.523422e+07,1.094985e+08,8.952982e+06,10598279.22,0.00,0.000000e+00
12043991,23705,B505440B7452768EB4E9625EFCF0B09B,2,2018,FACULDADE DE TECNOLOGIA DE FRANCO DA ROCHA,NaN,33,CENTRO ESTADUAL DE EDUCACAO TECNOLOGICA PAULA ...,2,3,...,0.0,4.939815e+08,0.0,3.096975e+08,5.523422e+07,1.094985e+08,8.952982e+06,10598279.22,0.00,0.000000e+00
12043992,23705,8B21B4B59FE3BE22A2B99A981B41283A,1,2018,FACULDADE DE TECNOLOGIA DE FRANCO DA ROCHA,NaN,33,CENTRO ESTADUAL DE EDUCACAO TECNOLOGICA PAULA ...,2,3,...,0.0,4.939815e+08,0.0,3.096975e+08,5.523422e+07,1.094985e+08,8.952982e+06,10598279.22,0.00,0.000000e+00

In [ ]:
df.alunos_uni = tb_uni_alunos.groupby('NO_IES')[['ID_ALUNO']].sum()
df.alunos_uni

In [ ]:
#2 -  Pergunta-se: é verdade que existem menos mulheres nos cursos de exatas?
tb_AUX['NO_CINE_AREA_GERAL'].value_counts()

In [ ]:
#3 - Quantos cursos novos abrem por ano?
tb_curso['QT_INGRESSO_VAGA_NOVA'].count()

In [ ]:
#5 - 1.Crie uma variável que represente a taxa de abandono para cada curso. É correto afirmar professores mais/menos capacitados influenciam tal taxa
tb_curso['taxa'] = tb_curso['QT_INGRESSO_TOTAL']/tb_curso['QT_CONCLUINTE_TOTAL']
tb_curso

In [ ]:
# 5 - 2.É correto afirmar professores mais/menos capacitados?
tb_uni_docentes = pd.merge(tb_docente, tb_curso, how = 'left', on = 'CO_IES')
tb_uni_docentes